* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  font-size: 24px;
  background-image: url("https://i.imgur.com/fLkDN61.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black; }

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
  padding: 10px 550px 10px 0; }
  header .counter {
    color: #800020;
    padding: 0 100px;
    font-size: 50px; }
  header .timer {
    color: #800020;
    padding: 0 100px;
    font-size: 50px; }
  header .button {
    padding: 10px 30px;
    font-size: 15px;
    background-color: #800020;
    color: white; }

main {
  display: flex;
  border: 50px; }
  main .grid {
    width: 1000px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    repeat: no-repeat; }
  main .instructions {
    margin: 10px 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 15px 0 15px; }
    main .instructions h5 {
      color: white;
      margin: 10px 0 0 0; }
    main .instructions h6 {
      color: white; }
    main .instructions p {
      width: 500px;
      border: 0 50px;
      font-size: 14px;
      color: white;
      padding: 10px;
      font-weight: 700;
      letter-spacing: 1px;
      text-align: justify; }

#lastline {
  padding-bottom: 0; }

.cell {
  width: calc(100% / 9);
  height: calc(100% / 9);
  border: 3px solid white; }

img {
  width: 30px;
  height: 30px; }

.start, .reset {
  background-color: blue;
  color: white;
  width: 100px;
  height: 30px;
  font-weight: 400;
  font-size: 25px;
  padding: 0 10px; }

.boom {
  background-image: url(https://i.imgur.com/3NMtnHd.jpg);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

[data-bomb-counting='1'] {
  background-image: url(https://i.imgur.com/kHajKdp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: white; }

[data-bomb-counting='2'] {
  background-image: url(https://i.imgur.com/BSb6E4O.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: white; }

[data-bomb-counting='3'] {
  background-image: url(https://i.imgur.com/FeuFeXq.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: white; }

[data-bomb-counting='4'] {
  background-image: url(https://i.imgur.com/KshiHPq.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: white; }

[data-bomb-counting='5'] {
  background-image: url(https://i.imgur.com/IcADv3C.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: white; }

[data-bomb-counting='6'] {
  background-image: url(https://i.imgur.com/ZADFF0B.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: white; }

[data-bomb-counting='7'] {
  background-image: url(https://i.imgur.com/w1NDKpv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: white; }

[data-bomb-counting='8'] {
  background-image: url(https://i.imgur.com/pKwcB0I.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: white; }

[data-no-bombs='0'] {
  background-color: white; }

footer {
  font-size: 10px;
  text-align: center;
  color: black; }
  footer p {
    color: pink;
    font-size: 14px; }

.hidden {
  background-image: url(https://i.imgur.com/k59PQXA.jpg);
  background-color: #075D7F;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.flag {
  background-image: url(https://i.imgur.com/u407766.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white; }

/*# sourceMappingURL=style.css.map */
