* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-size: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  padding: 10px 0;
}

.game {
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 50px;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: calc(100% / 9);
  height: calc(100% / 9);
  background-color: grey;
  border: 3px solid white;
}



.start, .reset{
  background-color: blue;
  color: white;
  width: 100px;
  height: 30px;
  font-weight: 400;
  font-size: 25px;
  padding: 0 10px;
}

.numberOne{
  background-image: url(https://i.imgur.com/4IR4f44.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
// #one{
//   background-color: blue;
// }
// #two{
//   background-color: yellow;
// }
// #three{
//   background-color: blue;
// }
// #four{
//   background-color: yellow;
// }
// #five{
//   background-color: purple;
// }
// #six{
//   background-color: green;
// }
// #seven{
//   background-color: purple;
// }
// #eight{
//   background-color: green;
// }
// #nine{
//   background-color: blue;
// }
// #ten{
//   background-color: yellow;
// }
// #eleven{
//   background-color: blue;
// }


.flag {
  background-image: url(https://i.imgur.com/4IR4f44.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.withBomb {

}
.boom{
  background-image: url(https://i.imgur.com/qIrnemX.png);
}
.oneBomb {
  background-image: url(https://i.imgur.com/HT1kaue.png);
}
